@*<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src="@Foto" height="80" />
            </div>
            <div class="col-md-9">
                <h5>@Nome</h5>
                <p>@Descricao</p>
            </div>
        </div>
    </div>
</div>*@

<div class="card" style="width: 18rem;">
    @*<img src="@FrontDefault" class="card-img-top">*@
    <div class="card-body">
        <h5 class="card-title">@Name</h5> <small>#@Id</small>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Base Experience: @BaseExperience</li>
        <li class="list-group-item">Height: @Height</li>
        <li class="list-group-item">Wight: @Weight</li>
        <li class="list-group-item">Order: @Order</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@code {
    //TODO FAZER O COMPONENTE

    //parametros do componente
    [Parameter]
    public int? Id { get; set; }
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public int? BaseExperience { get; set; }
    [Parameter]
    public int? Height { get; set; }
    [Parameter]
    public bool? IsDefault { get; set; }
    [Parameter]
    public int? Order { get; set; }
    [Parameter]
    public int? Weight { get; set; }

    //// Sprites
    //[Parameter]
    //public string? BackDefault { get; set; }
    //[Parameter]
    //public object? BackFemale { get; set; }
    //[Parameter]
    //public string? BackShiny { get; set; }
    //[Parameter]
    //public object? BackShinyFemale { get; set; }
    //[Parameter]
    //public string? FrontDefault { get; set; }
    //[Parameter]
    //public object? FrontFemale { get; set; }
    //[Parameter]
    //public string? FrontShiny { get; set; }
    //[Parameter]
    //public object? FrontShinyFemale { get; set; }
    //[Parameter]
    //public string? Foto { get; set; }

    //[Parameter]
    //public string? Nome { get; set; }

    //[Parameter]
    //public string? Descricao { get; set; }
}